@charset "UTF-8";

/*Homepage Portfolio + Additional Hover Animation*/
#portfolio {
  position: relative;
  width: 70%;
  padding: 60px 0px;
  margin: 0 auto;
}

#featured {
  position: relative;
  overflow: hidden;
  width: 70%;
  padding-bottom: 60px;
  margin: 0 auto;
}

.art-container {
  padding: 20px;
  width: 30%;
  display: inline-block;
  margin: 0 auto;
}

.content {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: white;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: white;
  font-size: 18px;
  font-family: arial;
  line-height: 26px;
}

.fadeIn-bottom {
  top: 80%;
}